[submodule "GoogleTest"]
	path = src/libratel/testing
	url = https://github.com/google/googletest.git
[submodule "src/libratel/tracer"]
	path = src/libratel/tracer
	url = git@github.com:GbaLog/tracer.git
[submodule "src/third_party/spdlog"]
	path = src/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
